<!DOCTYPE html>
<html lang="en">
<head>
<title>Homepage</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}
    
body {
    margin: 0;
    background-color: #white;
}

/* Style the header */
.header {
    background-color: #eacfc2;
    padding: 30px;
    text-align: center;

}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #604a58;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}


#home {
  width: 46px;
  height: 44px;
  background: url(img_navsprites.gif) 0 0;
}

/* Create columns that float next to each other */
.column {
    float: left;
    width: 100%;
    padding: 15px;
}

/* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
}
    

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    text-align: center;
    font-size: 18s;

}
/* Creates look of chatbox */
#chatbox { 
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  background: #fff;
  height: 340px;
  width: 280px;
  border: 1px solid #a7a7a7;
  overflow: auto;
  border-radius: 4px;
  border-bottom: 4px solid #a7a7a7;
}

a {
    padding: 8px;
}

.img {
    border-radius: 25%;
    width: 150px;
    height: auto;
}

h1 {
    padding: 20px;
    color: black;
    font-family: arial;
    font-size: 35;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}


body {font-family: Arial, Helvetica, sans-serif;}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  width: 50%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
}

.signupbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #04AA6D;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
}


.container {
    width:50%;
    padding: 16px;
    
}


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
 input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 20;
}

.yesButton {
  all:initial;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  list-style: not("inBox");
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


</style>
</head>